<footer class="gradient-background BORDRR">
    <div class="footer-content">
     <i class="fa-solid fa-transgender embiggen gradient-rev-text"></i>
        <div class="footer-links">
            <p>built for the community with <i class="fa-solid fa-heart gradient-text"></i> <span class="inline-block">by <a href="#about">charley lightstone</a></span><br>with support + guidance from <a href="https://codesquad.org/" target="_blank">codesquad</a></p>
            <p><a href="mailto:hrmnl.app@gmail.com?bcc=charley.develops@gmail.com&subject=hrmnl%20app%20contact%20form&body=love%20your%20app%20" class="text-link"> contact the developer</a>
            </p>
        </div>
     </div>
 </footer>

</div>
</body>
</html>