<li>
    <label for="hrtDelivery">delivery method</label>
        <input type="text" id="hrtDelivery" name="hrtDelivery" value="<%= user.hrtDeliveryE %>">
</li>
<li>
    <label for="hrtDose">dose</label>
    <input type="text" id="hrtDose" name="hrtDose" value="<%= user.hrtDoseE%>">
</li>
<li>    
    <label for="hrtConcentration">concentration</label>
    <input type="text" id="hrtConcentration" name="hrtConcentration" value="<%= user.hrtConcentrationE %>">
</li>