<header class="gradient-border BORDRR">
    <div class="header-content">
        <div class="logo">
            <a href="/user/<%= user._id %>/" class="image">
                <img src="/images/hrmnl-logo-cropped_mult.png" title="hrmnl logo">
            </a>
        </div> 
        <nav>
            <ul class="navigation" id="navigation" role="list">
                    <li>
                        <a href="/user/<%= user._id %>" class="nav-link pinkbg pinklink" title="profile">profile</a>
                    </li>
                    <li>
                        <a href="/user/<%= user._id %>/log" class="nav-link pinkpurplebg pinkpurplelink" title="log-treatment">log treatment</a>
                    </li>
                    <li>
                        <a href="/user/<%= user._id %>/history" class="nav-link purplebg purplelink" title="history">history</a>
                    </li>
                    <li>
                        <a href="/logout" class="nav-link bluebg bluelink" title="log out" id="log-out">log out</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>