/* note to self: make use of transition css property! */

:root {
    --pink: #edadab;
    --blue: #abcfed;
    /* --yellow: #f9d508;
    --purple: #d55cf7; */

}

body {
    font-family: 'Arimo', sans-serif;
    color: #030303;
} 


/* --- hrmnl logo --- */
h1.mix {
    text-transform: lowercase;
    mix-blend-mode: multiply;
    font-size: 12em;
    position: fixed;
    /* transform: rotate(-90deg) translate(30%,-40%);transform-origin: left; */
}

.pink {
    color: var(--pink);
}

.blue {
    color: var(--blue);
}

.yellow {
    color: var(--yellow);
}

.purple {
    color: var(--purple);
}

.first {
    transform: translate(5%);
}

.second {
    transform: translate(2.5%, 5%);
}