<!-- HEAD PARTIAL -->
<%- include('../partials/head') %> 
    <!-- NAV PARTIAL -->
    <%- include('../partials/nav') %> 
        <!-- MAIN BODY -->
        <main class="BORDRR">
            <section class="about" title="about">
                <div class="main-heading with-tagline">
                    <h2 class="about welcome">
                        we are <span class="gradient-text">hrmnl</span>!
                    </h2>
                    <p class="pronunciation"> [ hor·<span class="emphasis">mon</span>·al ] / hȯr-ˈmō-nᵊl /</p>
                </div>
                <p class="about">
                    <span class="gradient-text">hrmnl</span> is a growing web application with which users can save their transition details, log hormone replacement therapy treatments, and access and export their treatment history.
                </p>
                <p class="about">
                    built by a trans person for trans and gender nonconforming people.
                </p>
                <p class="about">
                    take control of your transition journey with <span class="gradient-rev-text">hrmnl</span>.
                </p>
            </section>
        </main>
    <!-- FOOTER PARTIAL -->
    <%- include('../partials/footer') %>