<!-- HEAD PARTIAL -->
<%- include('../partials/head') %> 
    <!-- NAV PARTIAL -->
    <%- include('../partials/nav') %> 
        <!-- MAIN BODY -->
        <main>
            <h2 class="gradient-text">THIS IS YOUR PROFILE HELLO</h2>
            
        </main>
    <!-- FOOTER PARTIAL -->
    <%- include('../partials/footer') %>