<!-- HEAD PARTIAL -->
<%- include('../partials/head') %> 
    <!-- NAV PARTIAL -->
    <%- include('../partials/nav') %> 
        <!-- MAIN BODY -->
        <main>

        </main>
    <!-- FOOTER PARTIAL -->
    <%- include('../partials/footer') %>