<!-- HEAD PARTIAL -->
<%- include('../partials/head') %> 
    <!-- NAV PARTIAL -->
    <%- include('../partials/nav') %> 
        <!-- MAIN BODY -->
        <h1 class="mix pink first">hrmnl</h1>
        <h1 class="mix blue second">hrmnl</h1>
        <i class="fa-solid fa-syringe"></i>
        <i class="fa-solid fa-bandage"></i>
        <i class="fa-solid fa-tablets"></i>
        <i class="fa-solid fa-capsules"></i>
        <i class="fa-solid fa-pills"></i>
        <i class="fa-solid fa-file-prescription"></i>
        <i class="fa-solid fa-pump-medical"></i>
        <i class="fa-solid fa-prescription"></i>
        <i class="fa-solid fa-prescription-bottle"></i>
        <i class="fa-solid fa-heart"></i>
        <i class="fa-solid fa-disease"></i>
        <i class="fa-solid fa-envelope"></i>
        <i class="fa-solid fa-message"></i>
        <i class="fa-solid fa-mobile"></i>
        <i class="fa-solid fa-transgender"></i>
        <i class="fa-solid fa-plus"></i>
        <i class="fa-solid fa-square-plus"></i>
        <i class="fa-solid fa-location-dot"></i>
        <i class="fa-solid fa-address-card"></i>
        <i class="fa-solid fa-calendar-plus"></i>
        <i class="fa-solid fa-user-plus"></i>
        <i class="fa-solid fa-bell"></i>
        <i class="fa-solid fa-bell-slash"></i>
        <i class="fa-solid fa-comment-medical"></i>
        <i class="fa-solid fa-bars"></i>
        <i class="fa-solid fa-calendar-week"></i>
        <i class="fa-solid fa-calendar-days"></i>
        <i class="fa-solid fa-calendar-day"></i>
        <i class="fa-solid fa-cake-candles"></i>
        <i class="fa-solid fa-file-csv"></i>
        <i class="fa-solid fa-file-lines"></i>

    <!-- FOOTER PARTIAL -->
    <%- include('../partials/footer') %>