<!-- HEAD PARTIAL -->
<%- include('../partials/head') %> 
    <!-- NAV PARTIAL -->
    <%- include('../partials/nav') %> 
        <!-- MAIN BODY -->
        <main>
            <h2 class="gradient-text page-heading">create an account</h2>
            <p class="modal-p">already have a <span class="gradient-text">hrmnl</span> account? <span class="light-grey">//</span> <a href="/login"><span class="embolden">log in</span></a></p>
            <!-- SIGN UP FORM -->
            <div class="form-border">
            <form class="short-form" action="/register" method="POST" name="sign-up-form" id="sign-up-form">
                <ul class="flex-form">
                    <li>
                        <label for="name">what should we call you?</label>
                        <input type="text" id="name" name="name" placeholder="your name" minlength="1" maxlength="40" required>
                    </li>
                    <li>
                        <label for="pronouns">what are your pronouns?</label>
                        <input type="text" id="pronouns" name="pronouns" placeholder="they/them/theirs" maxlength="70">
                    </li>
                    <li>
                        <label for="username">email</label>
                        <input type="text" id="username" name="username"
                        placeholder="yourname@email.com", minlength="7" maxlength="40" required>
                    </li>
                    <li>
                        <label for="password">password</label>
                        <input type="password" id="password" name="password" placeholder="unique password" minlength="7" maxlength="320" required>
                    </li>
                    <li>
                        <input type="submit" value="register with hrmnl" class="submit first-button" />
                    </li>
                </ul>               
            </form>
            <!-- <div class="auth">
                <a href="/auth/google" role="button" class="btn">
                    <button class="simple-btn">
                        register with google
                        </button>
                    </a>  
            </div> -->
        </div>
        </main>
    <!-- FOOTER PARTIAL -->
    <%- include('../partials/footer') %>