/* note to self: make use of transition css property! */
*, *:after, *:before {
    box-sizing: border-box;
}

:root {
    /* -- lightmode colors -- */
    --white: #ffffff;
    --lightmode-background: #f5f5f5;
    --lightmode-icons: #030303;
    --dark-grey: #030303;
    --lightmode-text: #57575c;
    --pink: #ffb3cd; /*#ab807f*/
    --blue: #9eccff; /*#abcfed*/
    --purple: #998cdd; /*#7869bb;*/
    --pinkpurple: #c6a0cc;
    --deeppurple: #6143bd;
    --darkblue: #7da2c9;
    --footer-text: #ffffff;
    /* -- darkmode colors -- */
    --darkmode-background: #030303;
    --darkmode-icons: #cccccc;
    --darkmode-text: #cccccc;
    --darkmode-pink: #ff6699; /*#ff0084*/
    --darkmode-blue: #3399ff; /*#0099ff;*/
    /* -- gradients -- */
    --gradient-text: -webkit-linear-gradient(45deg, var(--blue), var(--pink) 100%);
    --gradient-rev-text: -webkit-linear-gradient(45deg, var(--pink), var(--blue) 100%);
    --gradient-background-purples: linear-gradient(0deg, var(--deeppurple) 0%, var(--purple) 100%);
    /* --yellow: #f9d508;
    --purple: #d55cf7; */
    /*-- FONTS --*/
    --body: 'Arimo', sans-serif;
    --sans: 'Arimo', sans-serif;
    --serif: 'Roboto Slab', serif;
    font-family: 'Bitter', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Slab', serif;
}

body {
    font-family: var(--body);
    color: var(--lightmode-text);
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: var(--lightmode-background);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    width: 100vw;
    /* flexbox */
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2em 0em 2em 0em;
    border-bottom: 1px solid;
    /* diagnostics */
    /* border: 1px solid blue; */
}

a {
    cursor:pointer;
}

.inline-block {
    display: inline-block;
}

.inline {
    display: inline;
}

.flex {
    display: flex;
}


.gradient-border {
    /* note: target element must have border for this to work */
    border-image: linear-gradient(to right, var(--lightmode-background) 10%, var(--purple), var(--lightmode-background) 90%) 1;
}

.header-content {
    margin: auto;
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*--- LOGO ---*/
.logo img {
    max-width: 1000px;
    width: 80vw;
    margin-bottom: 10px;
}
.logo a {
    margin: auto;
}

/*--- NAVIGATION ---*/
nav {
    display: flex;
    /* border: 1px solid red; */
    /* for desktop */
    /* display: inline-flex; */
}

ul.navigation {
    margin: auto;
    padding: 0;
    padding-top: 10px;
    /* list styling */
    list-style-type: none;
    list-style: none;
    /* list-style-position: unset; */
    /* flexbox */
    display: flex;
    flex-direction: row;
    /* flex-wrap: nowrap; */
    align-items: center;
    justify-content: space-between;
    align-content: center;
    /* border: 1px solid pink; */
    width: 100%;
}

.nav-link {
    /* display: block; */
    text-align: center;
}

.navigation li {
    display: inline;
    margin: 1vw;
    /* border: 1px solid var(--pink); */
}

/* button/link styling */
.pinkbg {
    background-color: var(--pink);
}
.pinkpurplebg {
    background-color: var(--pinkpurple);
}
.purplebg {
    background-color: var(--purple);
}
.bluebg {
    background-color: var(--blue);
}

.navigation a,
.navigation a:link,
.navigation a:visited {
    text-decoration: none;
    color: var(--lightmode-icons);
    display: inline-block;
    line-height: 2;
    text-align: center;
    padding: 0 2vw;
    font-family: var(--serif);
    font-weight: 400;
    letter-spacing: .05rem;
    color: var(--white);
    box-sizing: border-box;
    border: 2px solid var(--lightmode-background);
    transition: background-color .75s, color .75s, border .75s, border-bottom .75s, border-top .5s;
}

/* -- navigation link  color-specific-- */

/* hover state */
a.pinklink:hover,
a.pinklink:focus,
a.pinklink:active  {
    color: var(--pink);
    border-color: var(--pink);
    background: var(--lightmode-background);
}
a.pinkpurplelink:hover,
a.pinkpurplelink:focus,
a.pinkpurplelink:active {
    color: var(--pinkpurple);
    border-color: var(--pinkpurple);
    background: none;
}
a.purplelink:hover,
a.purplelink:focus,
a.purplelink:active  {
    color: var(--purple);
    border-color: var(--purple);
    background: none;
}
a.bluelink:hover,
a.bluelink:focus,
a.bluelink:active  {
    color: var(--blue);
    border-color: var(--blue);
    background: none;
}

.navigation a:hover {
    border: 2px solid;
    border-top-color: var(--lightmode-background);
    border-left-color: var(--lightmode-background);
    border-right-color: var(--lightmode-background); 
}

.navigation a:focus {
    border: 2px solid;
    background: none;
}

.navigation a:active {
    background: none;
    border: 2px solid;
    border-left-color: var(--lightmode-background);
    border-right-color: var(--lightmode-background);
}

/* hamburger nav */
a.menu-icon {
    background-color: transparent;
    border: 0;
    color: var(--blue);
    cursor: pointer;
    font-size: 1.5rem;
}
.hamburger:focus {
    outline: none;
}
.hamburger {
    /* doesn't take up space */
    display: none;
}
/* navigation menu */
a.menu-icon:link, 
a.menu-icon:visited {
    color: var(--blue);
    text-decoration: none;
}

a.menu-icon:hover {
    color: var(--white);
    text-decoration: none;
}

a.menu-icon:active {
    color: var(--darkmode-pink);
    text-decoration: none;
    background-color: transparent;
}
/* end hamburger nav */

/* end navigation styling */

main {
    width: 80vw;
    max-width: 1000px;
    margin: auto;
}

.fa-solid {
    color: var(--lightmode-icons);
}

h2 {
    font-size: 2em;
  }

h2.welcome {
    padding-top: .5em;
    margin: 0;
}
.pronunciation {
    margin: 0;
    padding: 0;
    color: var(--pinkpurple);
}
.emphasis {
    font-weight: bold;
}

.gradient-text {
    /* gradient text! */
    font-weight: bold;
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.gradient-rev-text {
    /* gradient text! */
    font-weight: bold;
    background: var(--gradient-rev-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.main-heading {
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
}

/* --- LINK STYLING --- */
/* -- in text -- */

a {
    font-family: var(--sans);
    text-decoration: none;
}
/* unvisited link */
a:link {
    color: var(--purple);
}
  /* visited link */
a:visited {
    color: var(--pinkpurple);
}
  /* mouse over link */
a:hover {
    color: var(--blue);
}
  /* selected link */
a:active {
    color: var(--pink);
}

/* -- on forms -- */


/*--- FOOTER ---*/
footer {
    background-color: var(--deeppurple);
    color: var(--white);
    width: 100%;
    max-width: 100vw;
    height: auto;
    /* added flexbox here */
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-content: center;
    font-family: var(--display);
    margin-top: 2.5em;
}

.gradient-background {
    background-image: var(--gradient-background-purples);
}

.footer-content {
    color: var(--footer-text);
    width: 80vw;
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    font-family: var(--serif);
    font-weight: 200;
}

/* -- links in footer -- */
.footer-content a,
.footer-content a:link,
.footer-content a:visited {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
    line-height: 1.4;
    color: var(--white);
    font-family: var(--body);
}

.footer-content a:hover {
    border-bottom: 1px solid;
    /* background: var(--white); */
    color: var(--gradient-text);
}

.footer-content a:focus {
    color: var(--pink);
    border-bottom: 1px solid;
    /* background: var(--white); */
}

.footer-content a:active {
    color: var(--pink);
}

.embiggen {
    font-size: 3em;
}


/*--- FORM STYLING ---*/
ul.flex-form {
    margin: auto;
    padding: 0;
    padding-top: 10px;
    /* list styling */
    list-style-type: none;
    list-style: none;
    list-style-position: unset;
    /* flexbox */
    display: flex;
    flex-direction: column;
    /* flex-wrap: nowrap; */
    align-items: stretch;
    justify-content: flex-start;
    align-content: stretch;
    /* border: 1px solid pink; */
    /* width: 100%; */
    max-width: 80vw;
    text-align: left;
}

.form-border {
    border: 1px var(--purple) solid;
}

.flex-form li,
.auth,
.form-button {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: center;
    align-content: stretch;
    padding: .75rem 2rem;
}

label {
    font-family: var(--sans);
    font-weight: 400;
    color: var(--purple);
    font-size: .875rem;
    padding-bottom: .375rem;
}
::placeholder {
    color: var(--darkmode-icons);
    font-size: 1.125rem;
    font-family: var(--sans);
}

fieldset {
    color: var(--purple);
    font-size: .875rem;
}

input,
.submit {
    width: 100%;
    padding: 7px 14px;
    font-size: 1.125rem;
    color: var(--lightmode-text);
    border: none;
    border-bottom: 1.5px solid var(--darkmode-icons);
    background-color: var(--lightmode-background);
    font-family: var(--serif);
}

input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus {
    outline: none;
    border-bottom-color: var(--pink);
}

input[type=text]:focus::placeholder,
input[type=email]:focus::placeholder {
    color: transparent;
}

input[type=submit],
.submit {
    border: 1.5px solid var(--lightmode-background);
    color: var(--white);
    font-weight: 400;
    letter-spacing: .05rem;
    border-radius: 4px;
    text-transform: lowercase;
    background-image: var(--gradient-text);
    background-clip: padding-box;
    -webkit-background-clip: padding-box;
}
input[type=submit]:hover,
.submit:hover {
    border: 1.5px solid var(--lightmode-background);
    color: var(--white);
    font-weight: 400;
    letter-spacing: .05rem;
    border-radius: 4px;
    text-transform: lowercase;
    background-image: var(--gradient-rev-text);
    background-clip: border-box;
    -webkit-background-clip: border-box;
}
input[type=submit]:active,
.submit:active {
    border: 1.5px solid var(--purple);
}

input[type=checkbox] {
    width: auto;
}

form p {
    text-align: center;
    padding: 0;
}

/* form a button, */
.simple-btn {
    width: 100%;
    padding: 7px 14px;
    font-size: .925rem;
    color: var(--purple);
    background-color: var(--lightmode-background);
    font-family: var(--sans);
    border: 1.5px solid;
    font-weight: 400;
    border-radius: 4px;
    text-transform: lowercase;
}

/* form a button:hover, */
.simple-btn:hover {
    color: var(--blue);
    background-color: var(--lightmode-background);
    font-family: var(--sans);
    border: 1.5px solid;
}

/* form a button:active, */
.simple-btn:active {
    color: var(--pink);
    background-color: var(--lightmode-background);
    font-family: var(--sans);
    border: 1.5px solid;
}






/*--- HISTORY PAGE ---*/

/* - accordion - from w3schools - */
/* style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
padding: 0 18px;
background-color: white;
display: none;
overflow: hidden;
}

/* accordion icons to indicate open and closed */
.accordion:after {
content: '\02795'; /* Unicode character for "plus" sign (+) */
font-size: 13px;
color: #777;
float: right;
margin-left: 5px;
}

.active:after {
content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* MODAL */
.modal {
display: none;
position: fixed; 
padding-top: 50px;
left: 0; 
top: 0;
width: 100%;
height: 100%; 
background-color: rgb(0, 0, 0);
background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
position: relative; 
background-color: var(--lightmode-background);
padding: 20px; 
margin: auto; 
width: 75%;
max-width: 500px;  
-webkit-animation-name: animatetop;
-webkit-animation-duration: 0.4s;
animation-name: animatetop;
animation-duration: 0.4s
}

.modal-content p,
.modal-content h2 {
    text-align: left;
    margin: 0;
    padding: 0;
}



.modal-heading {
    padding: 0;
    margin-top: .5rem;
    margin-bottom: .75rem;
}
.modal-p {
    padding: 0;
    margin-top: 0;
    margin-bottom: 1.25rem;
}

.thicc {
    font-weight: 500;
}

.light-grey {
    color: var(--darkmode-icons)
}

.close-btn {
float: right; 
color: var(--darkmode-icons); 
font-size: 24px;  
font-weight: bold;

}
.close-btn:hover {
color: var(--purple);
}

@-webkit-keyframes animatetop {
from {top:-300px; opacity:0} 
to {top:0; opacity:1}
}
@keyframes animatetop {
from {top:-300px; opacity:0}
to {top:0; opacity:1}
}
/* ----------------------------------------------- */

/* FOR TESTING ONLY */
/* .BORDRR {
    border: 1px solid green;
} */
/* .background-pattern {
    background-color: #f3f8ff;
    opacity: 1;
    background-size: 15px 15px;
    background-image: repeating-linear-gradient(45deg, #fffafc 0, #fffafc 1.5px, #f3f8ff 0, #f3f8ff 50%);
} */


/* --- MIX-BLEND-MODE LOGO --- */
h1.mix {
    background-color: var(--lightmode-background);
    text-transform: lowercase;
    mix-blend-mode: multiply;
    font-size: 12em;
    position: fixed;
    /* transform: rotate(-90deg) translate(30%,-40%);transform-origin: left; */
}
.pink {
    color: var(--pink);
}
.blue {
    color: var(--blue);
}
.first {
    transform: translate(5%);
}
.second {
    transform: translate(2.5%, 5%);
}

/* --- DARKMODE CODE --- */
.darkmode {
    background-color: var(--darkmode-background);
    color: var(--darkmode-text);
}
.darkmode ul {
    color: var(--darkmode-text);
}

/* --- DARKMODE LOGO --- */
.darkmode h1 {
    /* mix-blend-mode: screen; */
    mix-blend-mode: lighten;
    /* mix-blend-mode: difference; */
    /* mix-blend-mode: exclusion; */
    background-color: var(--darkmode-background);
}
.darkmode .pink {
    color: var(--darkmode-pink);
}
.darkmode .blue {
    color: var(--darkmode-blue);
}
.darkmode .fa-solid {
    color: var(--darkmode-icons);
}
.isolate {
    isolation: isolate;  /* without isolation, the background color will be taken into account */
    position: relative;
}
