/* note to self: make use of transition css property! */

:root {
    /* -- lightmode colors -- */
    --lightmode-background: #ffffff;
    --lightmode-icons: #030303;
    --pink: #edadab;
    --blue: #abcfed;
    /* --yellow: #f9d508;
    --purple: #d55cf7; */
    /* -- darkmode colors -- */
    --darkmode-background: #030303;
    --darkmode-icons: #cccccc;
    --darkmode-text: #cccccc;
    --darkmode-pink: #ff0084;
    --darkmode-blue: #0099ff;

}

body {
    font-family: 'Arimo', sans-serif;
    color: #030303;
}

ul {
    list-style-type: none;
    list-style: none;
    list-style-position: unset;
}


/* --- hrmnl logo --- */
h1.mix {
    background-color: var(--lightmode-background);
} 

.fa-solid {
    color: var(--lightmode-icons);
}

/* --- LOGO --- */

h1 {
    text-transform: lowercase;
    mix-blend-mode: multiply;
    font-size: 12em;
    position: fixed;
    /* transform: rotate(-90deg) translate(30%,-40%);transform-origin: left; */
}

.pink {
    color: var(--pink);
}

.blue {
    color: var(--blue);
}

.yellow {
    color: var(--yellow);
}

.purple {
    color: var(--purple);
}

.first {
    transform: translate(5%);
}

.second {
    transform: translate(2.5%, 5%);
}


/* --- DARKMODE CODE --- */

.darkmode {
    background-color: var(--darkmode-background);
    color: var(--darkmode-text);
}

.darkmode ul {
    color: var(--darkmode-text);
}

/* --- DARKMODE LOGO --- */
.darkmode h1 {
    /* mix-blend-mode: screen; */
    mix-blend-mode: lighten;
    /* mix-blend-mode: difference; */
    /* mix-blend-mode: exclusion; */
    background-color: var(--darkmode-background);
}

.darkmode .pink {
    color: var(--darkmode-pink);
}

.darkmode .blue {
    color: var(--darkmode-blue);
}

.darkmode .fa-solid {
    color: var(--darkmode-icons);
}

.isolate {
    isolation: isolate;  /* without isolation, the background color will be taken into account */
    position: relative;
}

